/*!
 * Commons-CSS, the set of commonly used styles.
 * 
 * Common.grid.css, commons styles for grids & layout.
 * Rubens Mariuzzo, 2012.
 *
 * MIT license.
 */.w10{width:10%}.w20{width:20%}.w30{width:30%}.w40{width:40%}.w50{width:50%}.w60{width:60%}.w70{width:70%}.w80{width:80%}.w90{width:90%}.w33{width:33.33%}.w67{width:66.67%}.w25{width:25%}.w75{width:75%}.right{float:right}.left{float:left}.g10{width:10%;float:left}.g20{width:20%;float:left}.g30{width:30%;float:left}.g40{width:40%;float:left}.g50{width:50%;float:left}.g60{width:60%;float:left}.g70{width:70%;float:left}.g80{width:80%;float:left}.g90{width:90%;float:left}.g33{width:33.33%;float:left}.g67{width:66.67%;float:left}.g25{width:25%;float:left}.g75{width:75%;float:left}